.items {
	color: black;
	background-color: white;
	-webkit-transition:all cubic-bezier(0.250,0.460,0.450,0.940) 0.5s;
	transition:all cubic-bezier(0.250,0.460,0.450,0.940) 0.5s;
}

.items.active {
	color: orange;
	background-color: yellow;
	font-size: 3em;
}

.items.inactive {
	color: Gray;
	text-decoration: line-through;
}

.repoItems.active {
	color: blue;
	background-color: Gold;
	font-size: 2em;
}

.repoItems.inactive {
	color: Gray;
	text-decoration: line-through;
}